<%- include('partials/headerT') -%>
<%- include('partials/headerB') -%>

  </nav>

  <h3>Jeu De La Fouchette</h3>
  <a href="/ ">retour à l'accueil</a>

  <script src="/js/fourchette.js"></script>

  <%- include('partials/footer') -%>

